body {
    font-family: 'Courier New', monospace;
    background-color: lightblue;
    font-size: 20px;
    text-align: center;
}

ul, ol {
    display: inline-block;
    text-align: left;
}

h1 {
    font-size: 50px;
}

.plane {
    width: 50%;
}

.sailboat {
    width: 500px;
}

.schedule {
    display: flex;
    flex-direction: column;
}

.schedule-img {
    width: 700px;
}

.schedule-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}