body {
    background-color: lightblue;
    font-family: 'Courier New', monospace;
}


.title {
    text-align: center;
    font-size: 50px;
}

.dayOne {
    display: flex;
    flex-direction: row;
}

.dayOneImage {
    width: 35%;
}

.dayTwo {
    display: flex;
    flex-direction: row;
}


.dayTwoImage {
    width: 35%;
}

/* 
margin 
padding  
*/